ul {
    list-style-type: none;
}

a {
    text-decoration:none;
}

#container {
    width:1020px;
    margin:auto;
    background-color:#ccc;
}

#header {
     
    width:960px;
    height:64px;
    margin:0 0 47px 29px;
    display:block;
}

#logo {
    width:960px;
    height: 64px;
    margin:auto;
    display:block;
}

#nav {
    width:960px;
    height:67px;
    margin:0 30px 30px 30px;
    display:block;
}

#nav ul {
    width:745px;
    padding:0;
}

#nav ul li {
    width:104px;
    height:64px;
    float:left;
}

#nav ul li a {
    float:left;
    width:104px;
    height:64px;
    background-color:#fff;
}

#slider {
    width:960px;
    height:405px;
    margin:0 30px 30px 30px;
    
}

#main {
    width: 960px;
    display:table;
    margin:auto;
}

#primary {
    width:630px;
    float:right;
    display:block;
}

.cell_row_left .cell {
    margin: 0 30px 30px 0;
}

.cell_row_right .cell {
    margin: 0 0 30px 0;
}

.cell {
    width:300px;
    height:415px;
    float:left;
}

.cell_image {
    width: 300px;
    height: 300px;
}

.cell_description {
    width:300px;
    height: 115px;
}

#side {
    width:300px;
    height:500px;
    float:left;
    display:block;
}

#footer {
    width:960px;
    height:248px;
    margin:auto;
    display: block;
}

#footer_left {
    width:280px;
    float:left;
    margin-right:36px;
}

#footer_left h3 {
    margin: 0 0 22px 0;
}

#footer_left p {
    margin: 0 0 20px 0;
    height:84px;
}

#footer_mid {
    width: 300px;
    float:left;
}

#footer_mid ul li {
    float:left;
    margin:0 10px 0 0;
}